<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <i class="fas fa-phone-alt fa-2x text-warning"></i>
          </div>
          <h5 class="card-title">Nous appeler</h5>
          <p class="card-text">Nous sommes disponibles 24h/7 jours par semaine.</p>
          <p class="card-text">Tel: +8001112222</p>
          <div class="mb-3">
            <i class="fas fa-envelope fa-2x text-warning"></i>
          </div>
          <h5 class="card-title">Nous écrire</h5>
          <p class="card-text">Complétez notre formulaire et nous vous répondrons sous 24h</p>
          <p class="card-text">Email: client@lpmp.com</p>
          <p class="card-text">Email: support@lpmp.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputName">Votre Nom *</label>
                <input type="text" class="form-control" id="inputName" placeholder="Votre Nom">
              </div>
              <div class="form-group col-md-4">
                <label for="inputEmail">Votre adresse mail *</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Votre adresse mail">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPhone">Votre téléphone *</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Votre téléphone">
              </div>
            </div>
            <div class="form-group">
              <label for="inputMessage">Votre message</label>
              <textarea class="form-control" id="inputMessage" rows="4" placeholder="Votre message"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Envoyer message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
