<% content_for :title, "FAQ" %>
<% content_for :meta_description, "Foire aux questions" %>
<div class="container mt-5">
  <h1 class="mb-4" style="color: #D65830;">Foire aux Questions (FAQ)</h1>

  <h2>1. Comment puis-je créer un compte ?</h2>
  <p>Pour créer un compte, cliquez sur le lien "S'inscrire" en haut de la page d'accueil et remplissez le formulaire d'inscription avec vos informations personnelles.</p>

  <h2>2. Comment puis-je passer une commande ?</h2>
  <p>Pour passer une commande, sélectionnez les produits que vous souhaitez acheter et ajoutez-les à votre panier. Ensuite, cliquez sur le panier et suivez les instructions pour finaliser votre achat.</p>

  <h2>3. Quels modes de paiement acceptez-vous ?</h2>
  <p>Nous acceptons les cartes de crédit, PayPal et d'autres méthodes de paiement en ligne sécurisées.</p>

  <h2>4. Comment puis-je suivre ma commande ?</h2>
  <p>Vous pouvez suivre votre commande en vous connectant à votre compte et en visitant la section "Mes Commandes". Vous y trouverez les informations de suivi de votre commande.</p>

  <h2>5. Comment puis-je retourner un produit ?</h2>
  <p>Si vous n'êtes pas satisfait de votre achat, vous pouvez retourner le produit dans les 30 jours suivant la réception. Veuillez consulter notre politique de retour pour plus de détails.</p>

  <h2>6. Comment puis-je contacter le service client ?</h2>
  <p>Vous pouvez nous contacter par email à support@lpmp.com ou en utilisant le formulaire de contact sur notre site. Nous nous efforçons de répondre à toutes les demandes dans les 24 heures.</p>

  <h2>7. Offrez-vous la livraison gratuite ?</h2>
  <p>Oui, nous offrons la livraison gratuite pour les commandes dépassant un certain montant. Consultez notre politique de livraison pour plus d'informations.</p>

  <h2>8. Comment puis-je utiliser un code de réduction ?</h2>
  <p>Pour utiliser un code de réduction, entrez le code lors du paiement dans le champ "Code de réduction". La remise sera automatiquement appliquée à votre commande.</p>

  <p>Dernière mise à jour : [Date]</p>
</div>
