<div class="container mt-5">
  <h1 class="mb-4" style="color: #D65830;">Conditions d'Utilisation</h1>
  <p>En utilisant notre site, vous acceptez de vous conformer aux présentes conditions d'utilisation. Veuillez les lire attentivement avant de naviguer sur notre site.</p>

  <h2>Utilisation du Site</h2>
  <p>Vous acceptez d'utiliser notre site de manière légale et conforme à toutes les lois applicables. Vous ne devez pas utiliser notre site pour toute activité frauduleuse ou illégale.</p>

  <h2>Propriété Intellectuelle</h2>
  <p>Tout le contenu présent sur notre site, y compris les textes, images, logos et graphiques, est protégé par les lois sur la propriété intellectuelle et est la propriété exclusive de [Nom de la Société]. Vous ne pouvez pas utiliser, reproduire ou distribuer ce contenu sans notre autorisation écrite préalable.</p>

  <h2>Comptes Utilisateur</h2>
  <p>Pour accéder à certaines fonctionnalités de notre site, vous devez créer un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos informations de connexion et de toutes les activités qui se produisent sous votre compte.</p>

  <h2>Limitations de Responsabilité</h2>
  <p>Nous déclinons toute responsabilité pour tout dommage direct, indirect, accidentel ou consécutif découlant de l'utilisation de notre site ou de l'impossibilité d'utiliser notre site.</p>

  <h2>Modifications des Conditions</h2>
  <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur notre site. Nous vous encourageons à consulter régulièrement cette page pour rester informé des mises à jour.</p>

  <h2>Contact</h2>
  <p>Pour toute question concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse email suivante : support@lpmp.com.</p>

  <p>Dernière mise à jour : [Date]</p>
</div>
