<!DOCTYPE html>
<html>
  <body>
    <h1>Bienvenue sur Le Petit Monde en Plastique, <%= @user.first_name %>!</h1>
    <p>
      Vous avez créé votre compte avec succès sur Le Petit Monde en Plastique.
      Pour vous connecter au site cliquez sur le lien suivant : https://lpmp.fly.dev/login
    </p>
  </body>
</html>
