<div class="container text-center my-5">
  <h1 class="display-4">Paiement Réussi !</h1>
  <div class="alert alert-success mt-4" role="alert">
    <h2 class="alert-heading">Merci pour votre achat !</h2>
    <p>Nous avons bien reçu votre paiement de <strong><%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></strong>.</p>
    <hr>
    <p class="mb-0">Le statut de votre paiement est : <strong>Réussi</strong>.</p>
  </div>
  <p class="lead mt-5">Vous serez redirigé vers l'accueil dans <span id="countdown">60</span> secondes.</p>
  <a href="<%= root_path %>" class="btn btn-primary btn-lg mt-3">Retour à l'accueil maintenant</a>
</div>

<script>
  function startCountdown(duration, display) {
    var timer = duration, seconds;
    var countdownInterval = setInterval(function() {
      seconds = parseInt(timer % 60, 10);

      display.textContent = seconds;

      if (--timer < 0) {
        clearInterval(countdownInterval);
        window.location.href = "<%= root_path %>";
      }
    }, 1000);
  }

  window.onload = function() {
    var countdownDuration = 60; // 60 seconds
    var display = document.querySelector('#countdown');
    startCountdown(countdownDuration, display);
  };
</script>
