<div class="container-fluid p-0" style="height: 75vh;">
  <div class="row g-0">
    <div class="col-12 p-0">
      <img src="<%= asset_path('banner_home.jpeg') %>" class="img-fluid w-100" style="height: 75vh;"  alt="Bannière">
    </div>
  </div>
</div>
