
<body>
  <header>
    <h1>Bienvenue sur mon site</h1>
    <nav>
      <ul>
        <li><a href="<%= root_path %>">Accueil</a></li>
        <li><a href="<%= articles_path %>">Produits</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Page d'accueil</h2>
    <p>Bienvenue sur la page d'accueil de notre site. Nous sommes ravis de vous avoir ici.</p>
  </main>

  <footer>
    <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
  </footer>
</body>
</html>
