<h1>Liste des Produits (Fake)</h1>

<ul>
  <li><%= link_to 'Produit 1', product_path(1) %></li>
  <li><%= link_to 'Produit 2', product_path(2) %></li>
  <li><%= link_to 'Produit 3', product_path(3) %></li>
</ul>

<%= link_to 'Créer un nouveau produit', new_product_path %>